<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://www.linkedin.com/in/vinicius-teixeira-ti/"
              target="_blank"
              class="icoLinkedin"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/viniciusstx/"
              target="_blank"
              class="icoInstagram"
            >
              <i class="fab fa-instagram-square"></i>
            </a>
          </li>

          <li>
            <a
              href="https://github.com/viniciussti"
              target="_blank"
              class="icoGithub"
            >
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-secondary text-center py-3">
    <span class="text-light">
      Todos os direitos reservados a Vinicius Teixeira
    </span>
  </div>
</footer>
